$primary-color: #000000;
$tertiary-color: #ffffff; // Exemple de couleur
$breakpoint-desktop: 1024px; // Exemple de breakpoint

$banner-background: url('../Images/background-banner.png');
$about-background: url('../Images/about-background.png');