.headerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .headerWrap__fig {
    margin: 0;
  }

  .logo {
    width: 100px;
  }
}