/** @format */

.errorContainer {
  color: $primary-color;
  @include flex-column; // Utiliser un mixin pour une disposition en colonne
  margin: 22px 6%; // Marges

  @media screen and (min-width: $breakpoint-desktop) {
    margin: 0; // Ajustement des marges pour les écrans plus grands
  }
}

.errorNumber {
  @include flex-center; // Utiliser un mixin pour centrer le contenu
  @include font(96px, 700); // Utiliser un mixin pour définir la police
  margin: 12rem 0 1rem 0; // Marges

  @media screen and (min-width: $breakpoint-desktop) {
    @include font(288px, 700); // Ajustement de la police pour les écrans plus grands
    margin: 0; // Ajustement des marges
  }
}

%flex-error {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.errorText {
  @extend %flex-error; // Étendre les styles de %flex-error
  text-align: center; // Aligner le texte au centre
  @include font(18px, 500); // Utiliser un mixin pour définir la police
  margin: 0 11%; // Marges

  @media screen and (min-width: $breakpoint-desktop) {
    @include font(36px, 500); // Ajustement de la police pour les écrans plus grands
    margin: 0; // Ajustement des marges
  }
}

.errorLinkHome {
  @extend %flex-error; // Étendre les styles de %flex-error
  text-decoration: none; // Supprimer la décoration du texte
  color: #000000; // Couleur du texte
  @include font(14px, 500); // Utiliser un mixin pour définir la police
  margin-top: 9rem; // Marge en haut

  @media screen and (min-width: $breakpoint-desktop) {
    @include font(18px, 500); // Ajustement de la police pour les écrans plus grands
  }

  &:hover,
  &:focus {
    text-decoration-line: underline; // Souligner le texte au survol et au focus
  }
}