/** @format */

// Import des mixins et variables
@import '../../styles/mixins';
@import '../../styles/variables';

.nav-header {
  display: flex;
  align-items: center;
  gap: 57px; // Espace entre les éléments de navigation
  text-transform: uppercase; // Si nécessaire

  @media screen and (min-width: $breakpoint-desktop) {
    text-transform: none; // Si vous souhaitez supprimer la transformation en majuscules sur desktop
  }

  &_link-home,
  &_link-about {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 34.22px;
    color: #000000; // Couleur noire
    text-decoration: none;
    padding: 0;

    &:hover,
    &:focus {
      text-decoration-line: underline;
    }
  }
}